<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{page.form.title}">Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header--form-page">
    <nav class="container container--70">
        <ul class="nav--actions">
            <li class="logged-user">
                Witaj Agata
                <ul class="dropdown">
                    <li><a th:text="#{page.user.profile}" href="#">Profil</a></li>
                    <li><a th:text="#{page.user.donations}" href="#">Moje zbiórki</a></li>
                    <li><a th:text="#{page.user.logout}" href="#">Wyloguj</a></li>
                </ul>
            </li>
        </ul>

        <ul th:replace="index :: nav-links">
            <li><a href="../index.html" class="btn btn--without-border active">Start</a></li>
            <li><a href="../index.html#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="../index.html#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="../index.html#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a href="../index.html#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                <span th:text="#{page.form.header-1}" th:remove="tag">Oddaj rzeczy, których już nie chcesz</span>
                <br/>
                <span th:text="#{page.form.header-2}" class="uppercase">potrzebującym</span>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title" th:text="#{page.form.steps.title}">Wystarczą 4 proste kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span th:text="#{page.form.steps-1}">Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span th:text="#{page.form.steps-2}">Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span th:text="#{page.form.steps-3}">Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span th:text="#{page.form.steps-4}">Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3 th:text="#{page.form.important}">Ważne!</h3>
            <p data-step="1" class="active" th:text="#{page.form.important.details-1}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2" th:text="#{page.form.important.details-2}">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3" th:text="#{page.form.important.details-3}">
                Wybierz jedną, do której trafi Twoja przesyłka.
            </p>
            <p data-step="4" th:text="#{page.form.important.details-4}">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter"><span th:text="#{page.form.in-form.step}">Krok</span>/ 4</div>

        <form action="form-confirmation.html" th:action="@{/donations/donate}" th:object="${donation}" method="post">
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3>Zaznacz co chcesz oddać:</h3>

                <div class="form-group form-group--checkbox" th:each="category : ${categories}">
                    <label>
                        <input
                                type="checkbox"
                                name="categories"
                                th:value="${category.id}"
                                th:checked="${donation.containsCategoryId(__${category.id}__)}"
                        />
                        <span class="checkbox"></span>
                        <span class="description" th:text="${category.name}">
                            ubrania, które nadają się do ponownego użycia
                        </span>
                    </label>
                </div>
                <div class="form-alert" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn next-step" th:text="#{page.form.in-form.next}">Dalej</button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3 th:text="#{page.form.in-form.specify-bags-quantity}">Podaj liczbę 60l worków, w które spakowałeś/aś
                    rzeczy:</h3>

                <div class="form-group form-group--inline">
                    <label>
                        <span th:text="#{page.form.in-form.bags-quantity}">Liczba 60l worków:</span>
                        <input type="number" th:field="*{quantity}"/>
                    </label>
                    <div class="form-alert" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{page.form.in-form.previous}">Wstecz</button>
                    <button type="button" class="btn next-step" th:text="#{page.form.in-form.next}">Dalej</button>
                </div>
            </div>


            <!-- STEP 3 -->
            <div data-step="3">
                <h3 th:text="#{page.form.in-form.specify-institution}">Wybierz organizacje, której chcesz pomóc:</h3>

                <div class="form-group form-group--checkbox" th:each="institutionFromList : ${institutions}">
                    <label>
                        <input type="radio" name="institution" value="old" th:value="${institutionFromList.id}"
                               th:checked="${donation.institution != null ? institutionFromList.id == donation.institution.id : false}"/>
                        <span class="checkbox radio"></span>
                        <span class="description">
                            <div class="title" th:text="${institutionFromList.name}">Fundacja “Bez domu”</div>
                            <div class="subtitle" th:text="${institutionFromList.description}">
                                Cel i misja: Pomoc dla osób nie posiadających miejsca
                                zamieszkania
                            </div>
                        </span>
                    </label>
                </div>
                <div class="form-alert" th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}"></div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{page.form.in-form.previous}">Wstecz</button>
                    <button type="button" class="btn next-step" th:text="#{page.form.in-form.next}">Dalej</button>
                </div>
            </div>

            <!-- STEP 4 -->
            <div data-step="4">
                <h3 th:text="#{page.form.in-form.specify-address}">Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4 th:text="#{page.form.in-form.address}">Adres odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{page.form.in-form.address.street-name}">Ulica</span>
                                <input type="text" th:field="*{street}"/>
                            </label>
                            <div class="form-alert" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{page.form.in-form.address.city}">Miasto</span>
                                <input type="text" th:field="*{city}"/>
                            </label>
                            <div class="form-alert" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{page.form.in-form.address.code}">Kod pocztowy</span>
                                <input type="text" th:field="*{zipCode}"/>
                            </label>
                            <div class="form-alert" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></div>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{page.form.in-form.phone-number}">Numer telefonu</span>
                                <input type="phone" th:field="*{phoneNumber}"/>
                            </label>
                            <div class="form-alert" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4 th:text="#{page.form.in-form.pick-up-date}">Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{page.form.in-form.pick-up-date.date}">Data</span>
                                <input type="date" th:field="*{pickUpDate}"/>
                            </label>
                            <div class="form-alert" th:if="${#fields.hasErrors('pickUpDate')}" th:errors="*{pickUpDate}"></div>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{page.form.in-form.pick-up-date.time}">Godzina</span>
                                <input type="time" th:field="*{pickUpTime}"/> </label>
                            <div class="form-alert" th:if="${#fields.hasErrors('pickUpTime')}" th:errors="*{pickUpTime}"></div>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                <span th:text="#{page.form.in-form.comment}">Uwagi dla kuriera</span>
                                <textarea th:field="*{pickUpComment}" rows="5"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{page.form.in-form.previous}">Wstecz</button>
                    <button type="button" class="btn next-step" th:text="#{page.form.in-form.next}">Dalej</button>
                </div>
            </div>

            <!-- STEP 5 -->
            <div data-step="5">
                <h3 th:text="#{page.form.in-form.summary}">Podsumowanie Twojej darowizny</h3>

                <div class="summary">
                    <div class="form-section">
                        <h4 th:text="#{page.form.in-form.summary.you-donate}">Oddajesz:</h4>
                        <ul>
                            <li>
                                <span class="icon icon-bag"></span>
                                <span class="summary--text"
                                >4 worki ubrań w dobrym stanie dla dzieci</span
                                >
                            </li>

                            <li>
                                <span class="icon icon-hand"></span>
                                <span class="summary--text"
                                >Dla fundacji "Mam marzenie" w Warszawie</span
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru:</h4>
                            <ul>
                                <li>Prosta 51</li>
                                <li>Warszawa</li>
                                <li>99-098</li>
                                <li>123 456 789</li>
                            </ul>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru:</h4>
                            <ul>
                                <li>13/12/2018</li>
                                <li>15:40</li>
                                <li>Brak uwag</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step" th:text="#{page.form.in-form.previous}">Wstecz</button>
                    <button type="submit" class="btn" th:text="#{page.form.in-form.submit}">Potwierdzam</button>
                </div>
            </div>
        </form>
    </div>
</section>

<footer th:replace="index :: footer">
    <div class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
            <div class="form-group form-group--50">
                <input type="text" name="name" placeholder="Imię"/>
            </div>
            <div class="form-group form-group--50">
                <input type="text" name="surname" placeholder="Nazwisko"/>
            </div>

            <div class="form-group">
            <textarea
                    name="message"
                    placeholder="Wiadomość"
                    rows="1"
            ></textarea>
            </div>

            <button class="btn" type="submit">Wyślij</button>
        </form>
    </div>
    <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"
            ><img src="images/icon-facebook.svg"
            /></a>
            <a href="#" class="btn btn--small"
            ><img src="images/icon-instagram.svg"
            /></a>
        </div>
    </div>
</footer>

<script th:src="@{/js/app.js}"></script>
</body>
</html>
