<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/style.css}" />
  </head>
  <body>
    <header class="header--main-page" th:fragment="header">
      <nav class="container container--70">
        <ul class="nav--actions">
          <li><a th:text="#{page.nav.login}" href="" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a th:text="#{page.nav.sign-in}" href="#" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>

        <ul>
          <li><a th:text="#{page.nav.start}" href="" class="btn btn--without-border active">Start</a></li>
          <li><a th:text="#{page.nav.what-about}" href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a th:text="#{page.nav.about-us}" href="#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a th:text="#{page.nav.foundations}" href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a th:text="#{page.nav.donate}" href="form.html" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a th:text="#{page.nav.contact}" href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            <span th:utext="#{page.header.start-helping-1}" th:remove="tag">Zacznij pomagać!</span>
            <br />
            <span th:text="#{page.header.start-helping-2}" th:remove="tag">Oddaj niechciane rzeczy w zaufane ręce</span>
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>10</em>
          <h3 th:text="#{page.index.bags-away}">Oddanych worków</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
          <em>5</em>
          <h3 th:text="#{page.index.gifts-away}">Przekazanych darów</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2 th:text="#{page.index.just-4-steps}">Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3 th:text="#{page.index.choose-things}">Wybierz rzeczy</h3>
          <p th:text="#{page.index.gifts-list}">ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3 th:text="#{page.index.pack-them}">Spakuj je</h3>
          <p th:text="#{page.index.use-trashbags}">skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3 th:text="#{page.index.decide-who-to-help}">Zdecyduj komu chcesz pomóc</h3>
          <p th:text="#{page.index.choose-place}">wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3 th:text="#{page.index.choose-courier}">Zamów kuriera</h3>
          <p th:text="#{page.index.choose-courier-when}">kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a th:text="#{page.nav.sign-in}" href="#" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2 th:text="#{page.nav.about-us}">O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img th:src="@{images/signature.svg}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img th:src="@{images/about-us.jpg}" alt="People in circle" /></div>
    </section>

    <section id="help" class="help">
      <h2 th:text="#{page.index.who-we-help}">Komu pomagamy?</h2>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p th:text="#{page.index.who-we-help.slide-1}">W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
          Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div th:text="#{page.index.who-we-help.foundation-1}" class="title">Fundacja "Dbam o Zdrowie"</div>
              <div th:text="#{page.index.who-we-help.foundation-1.description}" class="subtitle">Cel i misja: Pomoc dzieciom z ubogich rodzin.</div>
            </div>

            <div class="col">
              <div th:text="#{page.index.who-we-help.foundation-2}" class="title">Fundacja "A kogo"</div>
              <div th:text="#{page.index.who-we-help.foundation-2.description}" class="subtitle">Cel i misja: Pomoc wybudzaniu dzieci ze śpiączki.</div>
            </div>
          </li>

          <li>
            <div class="col">
              <div th:text="#{page.index.who-we-help.foundation-3}" class="title">Fundacja “Dla dzieci"</div>
              <div th:text="#{page.index.who-we-help.foundation-3.description}" class="subtitle">Cel i misja: Pomoc osobom znajdującym się w trudnej sytuacji życiowej.</div>
            </div>
            <div class="col">
              <div th:text="#{page.index.who-we-help.foundation-4}" class="title">Fundacja “Bez domu”</div>
              <div th:text="#{page.index.who-we-help.foundation-4.description}" class="subtitle">Cel i misja: Pomoc dla osób nie posiadających miejsca zamieszkania</div>
            </div>

          </li>

        </ul>


      </div>

    </section>

    <footer th:fragment="footer">
      <div id="contact" class="contact">
        <h2 th:text="#{page.footer.contact-us}">Skontaktuj się z nami</h2>
        <h3 th:text="#{page.footer.contact-form}">Formularz kontaktowy</h3>
        <form class="form--contact">
          <div class="form-group form-group--50"><input type="text" name="name" th:placeholder="#{page.footer.contact-form.name}" /></div>
          <div class="form-group form-group--50"><input type="text" name="surname" th:placeholder="#{page.footer.contact-form.surname}" /></div>

          <div class="form-group"><textarea name="message" th:placeholder="#{page.footer.contact-form.message}" rows="1"></textarea></div>

          <button class="btn" type="submit" th:text="#{page.footer.contact-form.send}">Wyślij</button>
        </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img th:src="@{images/icon-facebook.svg}"/></a> <a href="#" class="btn btn--small"><img th:src="@{images/icon-instagram.svg}"/></a>
        </div>
      </div>
    </footer>

    <script th:src="@{js/app.js}"></script>
  </body>
</html>
